.Header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo {
  width: 200px;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  margin: 20px;
}

.res-card {
  padding: 10px;
  margin: 10px;
  width: 300px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid black;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 190px;
} 

.body-top {
  margin: 10px;
  justify-content: space-between;
  display: flex;
}

.filter-btn {
  padding: 10px;
  cursor: pointer;
}